.layout-container {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
