.layout-container {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding-top: 20px; /* Navbarボタンの高さ + 余白分 */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
	main {
		padding-top: 20px;
	}
}

@media (max-width: 480px) {
	main {
		padding-top: 20px;
	}
}
